{%extends 'base.html'%}
{% block content %}
{{block.super}}
<style>
    h2{
        color: red;
    }
</style>
<div class="container">

    <!-- Looping through news   -->
    {% for news_item in news %}
  
    <div class="row">
      <!-- displaying News articles -->
      
        <h2 class="text-center"> {{ news_item.title }} </h2>
  
    </div>
    <div class="row">
        <div class="card card-body">
            <div class="card">
                <img src="{{news_item.image.url}}" class="img-responsive" alt="Image">
            </div>
            
            <h1>{{news_item.post}}</h1>
            <span class="badge bg-warning text-dark">{{news_item.tags}}</span>
            <span class="badge bg-info text-dark">{{news_item.pub_date}}</span>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid">

        <form  action="{%url 'newsToday'%}" method="post">
          {%csrf_token%}
      
          {% bootstrap_form letterForm layout='inline' %}
          <input type="submit" value="Subscribe">
        </form>
      
      </div>
  </div>


{% endblock %}